{% extends "./base.html" %}

{% block content %}
<div class="wrapp row3">
  <main class="hoc container clear">
    <td class="content">
      {% if user.is_authenticated %}
      <div class="div1">
        <form  action="/frontend/author-operation/" method="GET">
          <button type="submit" class="btn btn-danger">Создать</button>
        </form>
      </div>
        <p></p>
      {% endif %}
      <h2>Список авторов</h2>
      <div>
        <table border= "1">
          {% for author in results %}
          <tr>
            <td width="70%">
              <div>
                <a href="/frontend/author/{{ author.id }}/">
                  {{author.name_ru}}(lat:{{author.name_en}}) (
                    {% if author.begin_date or author.end_date %}
                    {% if author.begin_date %} {{ author.begin_date }}{% else %}...{% endif %} - {% if author.end_date %}{{ author.end_date }}{% else %}...{% endif %}
                    {% elif author.begin_work_date or author.end_work_date %}
                    {% if author.begin_work_date %} {{ author.begin_work_date }}{% else %}...{% endif %} - {% if author.end_work_date %}{{ author.end_work_date }}{% else %}...{% endif %}
                    {% else %}Годы жизни неизвестны{% endif %})
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        <nav class="pagination">
        <ul>
          <span class="step-links">
          {% if previous %}
            <li><a href="{{ previous}}">&laquo;</a></li>
          {% endif %}
          {% if next %}
            <li><a href="{{ next }}">&raquo;</a></li>
          {% endif %}
          </span>
        </ul>
      </nav>
    </div>
  </main>
</div>

{% endblock %}
