{% extends "./base.html" %}

{% block content %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <td class="content">
      {% if user.is_authenticated %}
      <div class="div1">
        <form  action="/frontend/author-operation/" method="GET">
          <button type="submit" class="btn btn-danger">Создать</button>
        </form>
      </div>
        <p></p>
      {% endif %}
      <h2>Список авторов</h2>
      <div class="group demo">
        <table border= "1">
          {% for author in results %}
          <tr>
            <td width="70%">
              <div>
                <a href="{{ author.author_front_link }}">
                  {{author.name_ru}}
                </a>
                (lat:{{author.name_en}}) ({% if author.begin_date %}{{ author.begin_date }}{% else %}...{% endif %} - {% if author.end_date %}{{ author.end_date }}{% else %}...{% endif %})
              </div>
            </td>
            <td width="10%"><a href="{{ author.author_front_link }}"><img src="{{ author.main_image }}" alt=""></a></td>
          </tr>
          {% endfor %}
        </table>
    </div>
  </main>
</div>

{% endblock %}
