{% extends "./base.html" %}

{% block content %}
<div class="wrapp row3">
  <main class="hoc container clear">
    <td class="content">
      {% if user.is_authenticated %}
      <div class="div1">
        <form  action="delete/" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </div>
      <div class="div1">
        <form action="change/" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-medium">Изменить</button>
        </form>
      </div>
      <div>
        <p></p>
      {% endif %}
      <h2>Индекс: {% if index %} {{ index }} {% else %} не указан {% endif %}</h2>
        <table border= "1">
          <tr>
            <td>Имя (рус.)</td>
            <td>{{name_ru}}</td>
            <td rowspan="10" width="35.0%" height="35.0%" align="center"><a href="{{ main_image }}"><img src="{{ main_image }}" alt=""></a></td>
          </tr>
          <tr>
            <td>Имя (lat.)</td>
            <td>{{name_en}}</td>
          </tr>
          <tr>
            <td>Годы жизни:</td>
            <td>{% if begin_date %}{{ begin_date }}{% else %}...{% endif %} - {% if end_date %}{{ end_date }}{% else %}...{% endif %}</td>
          </tr>
          {% if user.is_authenticated %}
          {% if notes %}
          <tr>
            <td>Заметки:</td>
            <td>{{ notes }}</td>
          </tr>
          {% endif %}
          {% endif %}

          {% if images %}
          {% regroup images by specialization as image_list %}
          {% for image in image_list %}
            <tr>
              <td>{{image.grouper}}</td>
              <td>
                {% for item in image.list %}
                  <div><a href="{{ item.image_front_link }}">{{ item.image }}</a></div>
                {% endfor %}
              </td>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2">Работы неизвестны</td>
          </tr>
        {% endif %}
        </table>
    </td>
  </main>
</div>


{% endblock %}
