{% extends "./base.html" %}

{% block content %}
<div class="wrapp row3">
  <main class="hoc container clear">
    <td class="content">
      {% if user.is_authenticated %}
      <div class="div1">
        <form  action="delete/" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </div>
      <div class="div1">
        <form action="change/" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-medium">Изменить</button>
        </form>
      </div>
      <div>
        <p></p>
      {% endif %}
      <h2>Подробная информация о изображении</h2>
      <div class="group demo">
        <table border= "1">
          <tr>
            <td>Название (рус.)</td>
            <td>{{name_ru}}</td>
            <td rowspan="100" width="35.0%" height="35.0%"><a href="{{ image }}"><img src="{{ image }}" alt=""></a></td>
          </tr>
          <tr>
            <td>Название (lat.)</td>
            <td>{{name_en}}</td>
          </tr>
          <tr>
            <td>Изображен</td>
            <td>
              <div><a href="{{ entity_front_link }}">{% if entity.name_ru %} {{ entity.name_ru }} {% else %} {{ entity.name_en }} {% endif %}</a></div>
            </td>
          </tr>
          <tr>
            <td>Описание</td>
            <td>{% if description %} {{ description }} {% else %} {{ description_lat }} {% endif %}</td>
          </tr>
          <tr>
            <td>Ссылка на источник</td>
            <td>{{source_link}}</td>
          </tr>
          {% if authors %}
          {% regroup authors by specialization as author_list %}
          {% for author in author_list %}
            <tr>
              <td>{{author.grouper}}</td>
              <td>
                {% for item in author.list %}
                  <div><a href="{{ item.author_front_link }}">{% if item.author.name_ru %} {{ item.author.name_ru }} {% else %} {{ item.author.name_en }} {% endif %}</a></div>
                {% endfor %}
              </td>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2">Автор неизвестен</td>
          </tr>
        {% endif %}
        </table>
    </div>
  </main>
</div>


{% endblock %}
