{% extends "./base.html" %}

{% block content %}
<div class="wrapp row3">
  <main class="hoc container clear">
      {% if user.is_authenticated %}
      <div class="div1">
        <form  action="/frontend/image-operation/" method="GET">
          <button type="submit" class="btn btn-danger">Создать</button>
        </form>
      </div>
        <p></p>
      {% endif %}
    <div class="content">
     <style>

    </style>

      <div id="gallery">
        <figure>
          <header class="heading">Галерея изображений</header>
          <div class="gallery3">
            {% for entity in results %}
              <div class="ramka"><a href="/frontend/image/{{ entity.id }}/"><img width="100%" height="100%" src="{{ entity.thumb_image }}" alt=""></a></div>
            {% endfor %}
          </div>

        </figure>
      </div>
      <nav class="pagination">
        <ul>
          <span class="step-links">
          {% if previous %}
            <li><a href="{{ previous }}">&laquo;</a></li>
          {% endif %}
          {% if next %}
            <li><a href="{{ next }}">&raquo;</a></li>
          {% endif %}
          </span>
        </ul>
      </nav>
    </div>
    <div class="clear"></div>
  </main>
</div>
{% endblock %}
