{% extends "./base.html" %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<div class="wrapp row3">
  <main class="hoc container clear">
    {% if user.is_authenticated %}
        <form action="." method="post" enctype="multipart/form-data">
          <table border= "1">
          {% csrf_token %}
          {% for field in form %}
          <tr>
            <td width="15%">{{ field.label }}</td>
            <td width="85%">{{ field }}</td>
          </tr>
          {% endfor %}
          </table>

          {{ occupations_formset.management_form }}
            <table border= "1">
              <tr>
                <td width="50%">Специализация:</td>
                <td width="50%">Удалить:</td>
              </tr>
            {% for form in occupations_formset %}
              <tr>
                {% for field in form.visible_fields %}
                <td width="50%" align="left">{{ field }}</td>
                {% endfor %}
               </tr>
              {% for field in form.hidden_fields %}
              <ul hidden="hidden">{{ field }}</ul>
              {% endfor %}
            {% endfor %}
          </table>

          {{ lands_formset.management_form }}
          <table border= "1">
            <tr>
              <td width="50%">Страна:</td>
              <td width="50%">Удалить:</td>
            </tr>
            {% for form in lands_formset %}
              <tr>
                {% for field in form.visible_fields %}
                <td width="50%" align="left" >{{ field }}</td>
                {% endfor %}
               </tr>
              {% for field in form.hidden_fields %}
              <ul hidden="hidden">{{ field }}</ul>
              {% endfor %}
            {% endfor %}
          </table>

          <button type="submit" class="save btn btn-default">Сохранить</button>
          <button type="reset" class="delete btn btn-default" onclick="history.back();">Отменить</button>
        </form>
      {% block manual_fields %}
      {% endblock %}
    {% else %}
      <h2>Доступно только авторизованным пользователям</h2>
    {% endif %}
  </main>
</div>

{% endblock %}

{% block custom_js %}
<script>
$(function() {
  $('[id$="-occupation"]').autocomplete({
    source: "/frontend/ajax_calls/search/occupation/",
    minLength: 2,
    formatItem: function(row) { return row[1] + ' (' + row[0] + ')'; },
    formatResult: function(row) { return row[0]; },
  });
});

$(function() {
  $('[id$="-land"]').autocomplete({
    source: "/frontend/ajax_calls/search/land/",
    minLength: 2,
    formatItem: function(row) { return row[1] + ' (' + row[0] + ')'; },
    formatResult: function(row) { return row[0]; },
  });
});

</script>
{% endblock %}

